@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .body {
        min-height: 100vh;
        background: url(/src/assets/images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position: right -8rem top -7rem;
        background-size: 28rem;
    }

    @media (min-width:1024px) {
        .body {
            background-position: right -10rem top -10rem;
            background-size: 51rem;
        }
        
    }

    @media (min-width:1550px) {
        .body {
            background-position: right -10rem top -15rem;
            background-size: 60rem;
        }
        
    }
}